:root {
  --main-red: #8E2424;
  --main-gray: #667085;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body * {
  font-family: 'Inter', sans-serif;
}

/* HEADER */

.menu-container {
  max-width: 1280px;
  margin: 18px auto;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-logo a {
  display: block;
  font-size: 1.125em;
  font-weight: 500;
  color: #3A404E;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav li + li {
  margin-left: 32px;
}

.menu-nav a {
  display: block;
  padding: 5px;
  color: var(--main-gray);
}

.menu-buttons {
  display: flex;
}

.menu-buttons a {
  display: block;
  padding: 10px 18px;
  color: var(--main-gray);
}

.menu-buttons a + a {
  margin-left: 12px;
}

.menu-buttons a:last-child {
  border: 1px solid #851f1f;
  background-color: var(--main-red);
  color: #FFFFFF;
  border-radius: 8px;
  transition: 0.3s;
}

.menu-buttons a:last-child:hover {
  background-color: #851f1f;
}

/* SOBRE INFO */

.sobre-info {
  text-align: center;
  padding: 96px 0;
}

.sobre-info span {
  color: var(--main-red);
  font-weight: 600;
}

.sobre-info h1 {
  margin: 24px 0 36px 0;
  font-size: 3em;
  color: #101828;
  letter-spacing: -0.02em;
}

.sobre-info p {
  max-width: 790px;
  margin: 0 auto;
  font-size: 1.25em;
  line-height: 30px;
  color: var(--main-gray);
}

/* MÉTRICAS */

.metricas {
  padding-bottom: 96px;
}

.metricas-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
}

.metricas-container div + div {
  margin-left: 32px;
}

.metrica-item {
  text-align: center;
  width: 280px;
}

.numero-metricas {
  display: block;
  font-size: 3.75em;
  font-weight: 600;
  color: var(--main-red);
}

.titulo-metricas {
  font-size: 1.125em;
  font-weight: 500;
  color: #101828;
  margin-top: 12px;
  margin-bottom: 8px;
}

.detalhes-metricas {
  color: var(--main-gray);
}