:root {
  --main-red: #8E2424;
  --main-gray: #667085;
  --main-black: #101828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body * {
  font-family: 'Inter', sans-serif;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1280px;
  padding: 0 32px;
}

/* HEADER */

.menu-container {
  margin: 18px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav li + li {
  margin-left: 32px;
}

.menu-nav a {
  display: block;
  padding: 5px;
  color: var(--main-gray);
}

.menu-buttons {
  display: flex;
}

.menu-buttons a {
  display: block;
  padding: 10px 18px;
  color: var(--main-gray);
}

.menu-buttons a + a {
  margin-left: 12px;
}

.menu-buttons a:last-child {
  border: 1px solid #851f1f;
  background-color: var(--main-red);
  color: #FFFFFF;
  border-radius: 8px;
  transition: 0.3s;
}

.menu-buttons a:last-child:hover {
  background-color: #851f1f;
}

/* SOBRE INFO */

.sobre-info {
  text-align: center;
  padding: 96px 0;
}

.sobre-info span {
  color: var(--main-red);
  font-weight: 600;
}

.sobre-info h1 {
  margin: 24px 0 36px 0;
  font-size: 3em;
  color: var(--main-black);
  letter-spacing: -0.02em;
}

.sobre-info p {
  max-width: 790px;
  margin: 0 auto;
  font-size: 1.25em;
  line-height: 30px;
  color: var(--main-gray);
}

/* MÉTRICAS */

.metricas {
  padding-bottom: 96px;
}

.metricas-container {
  margin: 0 auto;
  display: flex;
}

.metricas-container div + div {
  margin-left: 32px;
}

.metrica-item {
  text-align: center;
  width: 280px;
}

.numero-metricas {
  display: block;
  font-size: 3.75em;
  font-weight: 600;
  color: var(--main-red);
  letter-spacing: -0.02em;
}

.titulo-metricas {
  font-size: 1.125em;
  font-weight: 500;
  color: var(--main-black);
  margin-top: 12px;
  margin-bottom: 8px;
}

.detalhes-metricas {
  color: var(--main-gray);
}

/* VAGAS TALENTOS */

.talentos-container {
  margin: 96px auto 64px auto;
}

.talentos-info {
  text-align: center;
  margin-bottom: 64px;
}

.vagas-talentos {
  padding: 5px 12px;
  background: rgba(142, 36, 36, 0.05);
  color: var(--main-red);
  font-weight: 500;
  font-size: 0.875em;
  border-radius: 16px;
}

.titulo-talentos {
  margin: 20px 0;
  font-size: 2.25em;
  letter-spacing: -0.02em;
  color: var(--main-black);
}

.detalhes-talentos {
  font-size: 1.25em;
  color: var(--main-gray);
}

/* VAGAS ABERTAS */

.vagas-abertas-container {
  margin: 0 auto 96px auto;
}

.vagas-abertas-container .area + .area {
  margin-top: 64px;
}

.area {
  max-width: 768px;
  margin: 0 auto;
}

.area .vaga-item + .vaga-item {
  margin-top: 24px;
}

.titulo-area {
  margin-bottom: 32px;
  font-size: 1.25em;
  font-weight: 500;
  color: var(--main-black);
}

.vaga-item {
  padding: 24px 24px 28px 24px;
  border: 1px solid #EAECF0;
  border-radius: 16px;
  box-shadow: 2px 2px 10px 0px rgba(44, 44, 44, 0.15);
}

.vaga-item span + span {
  margin-left: 24px;
}

.vaga-item span {
  color: var(--main-gray);
}

.titulo-vaga {
  font-size: 1.125em;
  font-weight: 500;
  color: var(--main-black);
  margin-bottom: 32px;
}

/* DEPOIMENTO */

.depoimento-container {
  margin: 0 auto 96px auto;
}

.conteudo-depoimento {
  text-align: center;
  padding: 64px;
  background: rgba(196, 25, 25, 0.03);
  border-radius: 16px;
}

.titulo-depoimento {
  font-size: 0.875em;
  font-weight: 600;
  color: var(--main-red);
}

.citacao-depoimento {
  margin: 16px 0 32px 0;
}

.citacao-depoimento p {
  font-size: 2.25em;
  font-weight: 500;
  color: var(--main-black);
  line-height: 44px;
  letter-spacing: -0.02em;
}

.avatar-container {
  width: 56px;
  height: 56px;
  margin: 0 auto;
}

.nome-colaborador {
  font-weight: 500;
  color: var(--main-black);
  margin: 16px 0 4px 0;
}

.cargo-colaborador {
  font-size: 0.875em;
  color: var(--main-gray);
}